bidict
blinker
click
colorama
Flask
Flask-SocketIO
greenlet
h11
itsdangerous
Jinja2
MarkupSafe
python-engineio
python-socketio
simple-websocket
SQLAlchemy
typing_extensions
Werkzeug
wsproto
